body{
    background: black;
    color: white;
    text-align: center;
    overflow: hidden; /* To hide the scrollbar */
}

.loreAndInstructions{
    float: left;
    width: 21%;
}

.game{
    float: left;
}

#gameCanvas{
    border: 4px solid blue;
}
